<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>PW2-Estudiante</title>
        <link rel="stylesheet" href="./estudiante-home.component.css">
    </head>
    <body>
        <header class="">
            <a href="#" class="logo">PW2</a>
            <ul>
                <li><a href="#">Inicio</a></li>
                <li><a href="#">Inscripciones</a></li>
                <li><a href="#">Asignaturas</a></li>
                <li><a href="#">Carrito</a></li>
                <li><a href="#">Perfil</a></li>
            </ul>
        </header>
        <section class="banner"></section>
        <router-outlet></router-outlet>
    </body>
</html>