<div class="container">
    <h3 class="d-flex justify-content-center">POWERCAMPUS 2</h3>
    <h5 class="d-flex justify-content-center">SISTEMA DE INSCRIPCIÓN DE UNIVERSIDAD CENTROAMERICANA</h5>

    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
        <div class="center">
            <ul class="navbar-nav">
                <li class="navbar-item">
                    <a routerLink="user" >Inscripción</a>
                </li>
                <li class="navbar-item">
                    <a routerLink="user2" >Calificaciones</a>
                </li>
                <li class="navbar-item">
                    <a routerLink="user3" >Horario</a>
                </li>
                <li class="navbar-item">
                    <a routerLink="user3" >Carrito</a>
                </li>
                <li class="navbar-item">
                    <a routerLink="/profile" >Mi perfil</a>
                </li>
            </ul>
        </div>
    </nav>
    <router-outlet></router-outlet>
</div>
